
######################问安定时任务入口#########################################
* * * * * /usr/local/php7/bin/php /var/www/wenan/public/index.php /addons/crontab/autotask/index >> /var/www/wenan/runtime/log/crontab.`date +\%Y-\%m-\%d`.log 2>&1
